<div class="pdf-viewer-wrap">

  <div class="pdf-viewer-controls-wrap">
    <h2>PDF Viewer Controls</h2>
    <div class="pdf-viewer-controls">
      <div class="pdfv-control" *ngIf="renderText">
         
      </div>
      <div class="pdfv-control">
        Select PDF:
        <input (change)="onFileSelected()" type="file" id="file" accept=".pdf" class="inputPdf">
      </div>
      <div class="pdfv-control">Total Pages:{{totalPages}}</div>

      <div class="pdfv-control">
        <button (click)="originalSize = !originalSize">Original Page Size</button>
      </div>
     
      <div class="pdfv-control">
        <button (click)="showAll = !showAll">Show All Pages</button>
      </div>
      <div class="pdfv-control">
        <button (click)="autoresize = !autoresize">Auto resize</button>
      </div>
      
      <div class="pdfv-control">
        <button (click)="downloadPdf()">Download PDF</button>
      </div>

      <div class="pdfv-control">
        <button (click)="zoomOut()">ZoomOut</button>&nbsp;&nbsp;<button (click)="zoomIn()">ZoomIn</button>&nbsp;
      
      </div>
      
      <div class="pdfv-control">
        <button (click)="rotateDoc()">🔄</button>&nbsp;
        Rotation 
      </div>
    </div>
  </div>

  <div class="pdf-viewer-viewer-window">
    <pdf-viewer [src]="pdfSrc" [render-text]="renderText" [render-text-mode]="renderTextMode" [rotation]="rotation"
      [zoom]="zoom"  [original-size]="originalSize" 
      [show-all]="showAll" [autoresize]="autoresize" [show-borders]="showBorders"
      (after-load-complete)="callBackFn($event)" (page-rendered)="pageRendered($event)"
      (text-layer-rendered)="textLayerRendered($event)" (error)="onError($event)" (on-progress)="onProgress($event)">
    </pdf-viewer>
  </div>

</div>